.agenda {
  width: 100%;
  border: 1px solid salmon;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
}

.rowTimeSlots {
  width: 100%;
  height: 100%;
  position: absolute;
}

.venueHeaders {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.venues {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
