@import '~@variant/profile/lib/colors/index.module.css';
@import '~@variant/profile/lib/typography/index.module.css';
@import './theme.css';

:root {
  --content-width: 50rem;
}

html {
  font-size: 1rem;
  background-color: var(--color-background);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

img {
  width: 100%;
}
